.checked {
  color: orange;
}

body {
  background-color: hsla(80, 40%, 48%, 0.25);
}


h1 {
  font-family: 'Fahkwang', sans-serif;
    font-size: 50px;
}
h2 {
  font-family: 'Fahkwang',sans-serif;
}
h3 {
  font-family: 'Fahkwang', sans-serif;
}
h4 {
  font-family: 'Fahkwang', sans-serif;
}
h5 {
  font-family: 'Fahkwang', sans-serif;
}
p {
  font-family: 'Fahkwang',sans-serif;
}

h6 {

  font-family: 'Fahkwang',sans-serif;
}


