.checked {
  color: orange;
}


body {
  background-color: hsla(80, 40%, 48%, 0.25);
}

section {
width: 100%;
  height: 5vh;

}

.gotopbtn {
position: fixed;
  width: 80px;
  height: 70px;
  background: black;
  bottom: 30px;
  right: 50px;
  
 
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-family: 'Fahkwang', sans-serif;
  font-size: 25px;
}

h1 {
  font-family: 'Fahkwang', sans-serif;
    font-size: 50px;
}
h2 {
  font-family: 'Fahkwang',sans-serif;
}
h3 {
  font-family: 'Fahkwang', sans-serif;
}
h4 {
  font-family: 'Fahkwang', sans-serif;
}
h5 {
  font-family: 'Fahkwang', sans-serif;
}
p {
  font-family: 'Fahkwang',sans-serif;
}

h6 {

  font-family: 'Fahkwang',sans-serif;
}
